<div class="trigger">
  {%- for path in include.paths -%}
  {%- assign hyperpage = site.pages | where: "path", path | first -%}
  {%- if hyperpage.title %}
  {%- unless hyperpage.permalink == '/archive/' or hyperpage.permalink == '/resume/' or hyperpage.permalink == '/categories/' -%}
  <a class="page-link" href="{{ hyperpage.url | relative_url }}">{{ hyperpage.title | escape }}</a>
  {%- endunless -%}
  {%- endif -%}
  {%- endfor %}

  <a class="page-link" href="{{ '/archive/' | relative_url }}">모든 포스트</a>
  <a class="page-link" href="{{ '/resume/' | relative_url }}">이력서</a>
  <a class="page-link" href="{{ '/categories/' | relative_url }}">Category</a>
</div>
