---
layout: default
---
<link href="/css/override.css" rel="stylesheet" type="text/css">
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {% assign author = page.author | default: site.author %}
      {%- if author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ author }}</span></span>
      {%- endif -%}</p>
  </header>

  <div class="share-links">
    {% include sharelinks.html %}
  </div>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
    
    {%- if page.tags -%}
      <div class="post-tags">
        {% for tag in page.tags %}
          {% comment %} 경고 발생 코드 대신, 안전한 변수 할당 및 relative_url을 사용합니다. {% endcomment %}
          {% assign tag_slug = tag | slugify: 'raw' %}
          <a href="{{ '/tags/' | append: tag_slug | relative_url }}">#{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
        {% endfor %}
      </div>
    {%- endif -%}

    {% include navlinks.html %}
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
